{% extends 'layout.html' %}

{% block content %}

  <div ng-controller="MyCtrl">

    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">Actividades</div> 
          <div class="panel-body"> 
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="actividad in actividades">
            <a href="#" ng-click="show(actividad['_id'])">{{ actividad.nombre }}</a>
            </li>
          </ul>
          </div>
        </div>
      </div> <!-- end of class="col-md-3" -->

      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">Detalles de la actividad: {{ acto["nombre"] }}</div>
          <div class="panel-body" ng-show="acto"> 
            <table class="table table-striped">
              <tbody>
                <tr>
                 <td>Fecha:</td>
                 <td>{{ acto["fecha"] }}</td>
                </tr>
                <tr>
                  <td>Hora:</td>
                  <td>{{ acto["hora"] | trimHourString | date: "h:mm" }}</td>
                </tr>
                <tr>
                  <td>Lugar:</td>
                  <td>{{ acto["lugar"] }}</td>
                </tr>
                <tr>
                  <td>Comentario:</td>
                  <td>{{ acto["texto"] }}</td>
                </tr>
                <tr>
                  <td>Gente anotada:</td>
                  <td>{{ acto["genteAnotada"].join(', ') }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="well" ng-show="acto.nombre && '<%=user.username%>'">
          <button type="button" class="btn btn-primary" ng-click="apuntarse(acto['_id'])">Apuntarse</button>
          <button type="button" class="btn btn-danger" ng-click="borrarse(acto['_id'])">Borrarse</button>
      </div>

      </div> <!-- end of class="col-md-9" -->

    </div> <!-- end of class="row" -->

  </div> <!-- end of ng-controller -->




  {% if user %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="text-success">Has iniciado sesión como <%= user.username %> </p>
      </div>
    </div>
  {% else %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="text-warning">No has iniciado sesión. Por favor, inicia sesión o registrate...</p>
      </div>
  </div>
  {% endif %}
{% endblock %}
