{% extends 'layout.html' %}

{% block content %}

  <div ng-controller="MyCtrl">

    <div class="row">
      <div class="col-md-3">
      
          <h3>Actividades</h3> 
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="actividad in actividades">
            <a href="#" ng-click="show(actividad['_id'])">{{ actividad.nombre }}</a>
            </li>
          </ul>

      </div> <!-- end of class="col-md-3" -->

      <div class="col-md-9">
        <h3>Detalles de la actividad: {{ acto["nombre"] }}</h3>
        <div class="panel panel-default">
          <div class="panel-body" ng-show="acto">
            <div>Fecha: {{ acto["fecha"] }}</div>
            <div>Hora: {{ acto["hora"] }}</div>
            <div>Lugar: {{ acto["lugar"] }}</div>
            <div>Comentario: {{ acto["texto"] }}</div>
            <div ng-show='acto["genteAnotada"]'>Gente anotada: {{ acto["genteAnotada"] }}</div>
          </div>
        </div>

        <div class="well" ng-show="acto.nombre && '<%=user.username%>'">
          <button type="button" class="btn btn-primary" ng-click="apuntarse(acto['_id'])">Apuntarse</button>
          <button type="button" class="btn btn-danger" ng-click="borrarse(acto['_id'])">Borrarse</button>
      </div>

      </div> <!-- end of class="col-md-9" -->

    </div> <!-- end of class="row" -->

  </div> <!-- end of ng-controller -->




  {% if user %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="text-success">Has iniciado sesión como <%= user.username %> </p>
      </div>
    </div>
  {% else %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="text-warning">No has iniciado sesión. Por favor, inicia sesión o registrate...</p>
      </div>
  </div>
  {% endif %}
{% endblock %}
