{% extends 'layout.html' %}

{% block content %}

<h3>Log in</h3>
  
<div class="panel panel-default">
  <div class="panel-body">
    
    <form class="form-horizontal" action="/login" method="post">
      <div class="form-group">
        <label for="inputUsername" class="control-label col-xs-2">Usuario</label>
        <div class="col-xs-3">
          <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Usuario">
        </div>
        <div class="col-xs-7"></div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label col-xs-2">Contraseña</label>
        <div class="col-xs-3">
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Contraseña">
        </div>
        <div class="col-xs-7"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </div>
    </form>

   </div>
</div>

{% endblock %}
