{% extends 'layout.html' %}

{% block content %}

<h3>Nueva actividad</h3>
  
<div class="panel panel-default">
  <div class="panel-body">
    
    <form class="form-horizontal" action="/nueva-actividad" method="post">

    <div class="col-md-3">

      <div class="form-group">
        <label for="nombre" class="control-label">Nombre de la actividad</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre actividad" required>

        <label for="fecha" class="control-label">Fecha de la actividad</label>
        <div ng-controller="DatepickerDemoCtrl">
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" current-text="Hoy" clear-text="Borrar" close-text="Cerrar" id="fecha" name="fecha" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>

        <label for="hora" class="control-label">Hora de la actividad</label>
        <div ng-controller="TimepickerDemoCtrl">
          <timepicker ng-model="mytime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
          <a class="btn btn-info" ng-click="toggleMode();">12H / 24H</a>
          <input style="display: none" type="text" class="form-control" id="hora" name="hora" value="{{ mytime }}" >
        </div>

        <label for="lugar" class="control-label">Lugar</label>
        <input type="text" class="form-control" id="lugar" name="lugar" placeholder="Local">
      </div>

    </div>

    <div class="col-md-7">
        <label for="texto" class="control-label">Comentario</label>
        <textarea class="form-control" id="texto" name="texto"></textarea>
    </div>

    <div class="col-md-12">
      <a class="btn btn-default" href="/">Cancelar</a>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
   </form>

   </div>
</div>


{% endblock %}
