{% extends 'layout.html' %}

{% block content %}

<h3>Nueva actividad</h3>
  
<div class="panel panel-default">
  <div class="panel-body">
    
    <form class="form-horizontal" action="/nueva-actividad" method="post">

    <div class="col-md-3">

      <div class="form-group">
        <label for="inputName" class="control-label">Nombre de la actividad</label>
        <input type="text" class="form-control" id="inputName" name="name" placeholder="Nombre actividad">

        <label for="inputDay" class="control-label">Día de la actividad</label>
        <input type="text" class="form-control" id="inputDay" name="day" placeholder="Lunes, Martes...">
      
        <label for="inputNumber" class="control-label">Número del día de la actividad</label>
        <input type="number" class="form-control" id="inputNumber" name="daynumber" placeholder="1, 2, 3...">

        <label for="inputMonth" class="control-label">Mes de la actividad</label>
        <input type="text" class="form-control" id="inputMonth" name="month" placeholder="Enero, Febrero...">

        <label for="inputHour" class="control-label">Hora de la actividad</label>
        <input type="text" class="form-control" id="inputHour" name="hour" placeholder="8:00">

        <label for="inputPlace" class="control-label">Lugar</label>
        <input type="text" class="form-control" id="inputPlace" name="place" placeholder="Local">
      </div>

    </div>

    <div class="col-md-7">
        <label for="textArea" class="control-label">Comentario</label>
        <textarea class="form-control" id="textArea" name="text"></textarea>
    </div>

    <div class="col-md-12">
      <a class="btn btn-default" href="/">Cancelar</a>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
   </form>

   </div>
</div>



<!-- seleccionar la fecha -->
<div ng-controller="DatepickerDemoCtrl">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>

    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
</div>


<!-- seleccionar la hora -->
<div ng-controller="TimepickerDemoCtrl">

  <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

  <pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>

  <div class="row"> 
    <div class="col-xs-6">
        Hours step is:
      <select class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>
    </div>
    <div class="col-xs-6">
        Minutes step is:
      <select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
    </div>
  </div>

  <hr>

  <button class="btn btn-info" ng-click="toggleMode()">12H / 24H</button>
  <button class="btn btn-default" ng-click="update()">Set to 14:00</button>
  <button class="btn btn-danger" ng-click="clear()">Clear</button>

</div>



{% endblock %}
